// Fonts

@import 'variables';

@import '~@fortawesome/fontawesome-free/css/all.css';
// OverlayScrollbars
@import '~overlayscrollbars/css/OverlayScrollbars.css';
// iCheck
@import '~icheck-bootstrap/icheck-bootstrap.css';
@import "vendor/adminlte-rtl/adminlte";




@import "~select2/dist/css/select2";
@import "~select2-bootstrap-theme/dist/select2-bootstrap";

//@import "~vue-multiselect/dist/vue-multiselect.min.css";
@import '~sweetalert2/dist/sweetalert2.min.css';

html{
    font-size: 14px;
}
.content-wrapper{
    background-color: #f5f5f5;
}

// AdminLTE
//@import '../../../../vendor/almasaeed2010/adminlte/dist/css/adminlte.css';
// Bootstrap
// Already imported by AdminLTE
//@import '~bootstrap/scss/bootstrap';

/*
// Variables
// Bootstrap
//@import '~bootstrap/scss/bootstrap';
*/
